## Core latex/pdflatex auxiliary files:
*.bbl
*.blg
*.dvi
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.synctex.gz
*.fdb_latexmk

## Dont include PDFs
*.pdf

## Ignore node module dependencies and builds

node_modules
dist

## Ignore executables
hub

## Ignore environment
.env
